%h2 Search
%br/


-form_tag('', :method=>:get) do
= text_field_tag('q', '', :size => 30)  
= submit_tag 'Search', :name=> nil
-end

%br/

-total_results = @results.nil? ? 0 : @results.size

-unless @results.nil? or @results.size < 1
.section_search_results
  %table{:border => "0"}
    %tr.section_list_header
      %th.code{:scope => "col"} Code
      %th.name{:scope => "col"} Name
      %th.days{:scope => "col"} Days
      %th.starts{:scope => "col"} Starts
      %th.ends{:scope => "col"} Ends
      %th.enrollment{:scope => "col"} Enrollment
    -even_row = true
    -for result in @results do
    -row_class = even_row ? "d0" : "d1"
    -enrollment_class = get_enrollment_cell_class(result.enrollment_current, result.enrollment_max)
    %tr{:class => row_class}
      %td=result.course_code
      %td=result.course_name
      %td=result.days
      %td=format_lecture_time(result.start_time)
      %td=format_lecture_time(result.end_time)
      %td{:class => enrollment_class}=format_enrollment(result.enrollment_current, result.enrollment_max)
    -even_row = !even_row
    -end
-end

%br/
%h3#search_results_count="Found #{total_results} courses." 
