.boxy-wrapper { position: absolute; top:50%; }
.boxy-wrapper.fixed { position: fixed; }

/* Modal */

.boxy-modal-blackout { position: fixed; background-color: black; opacity: 0.7; filter: alpha(opacity = 70); left: 0; top: 0; height:100%;}

/* Border */

.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left { width: 10px; height: 10px; padding: 0 }

.boxy-wrapper .top-left { background: url('/catabuzz/images/boxy-nw.png'); }
.boxy-wrapper .top-right { background: url('/catabuzz/images/boxy-ne.png'); }
.boxy-wrapper .bottom-right { background: url('/catabuzz/images/boxy-se.png'); }
.boxy-wrapper .bottom-left { background: url('/catabuzz/images/boxy-sw.png'); }

/* IE6 hacks for the border */
* html .boxy-wrapper .top-left { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '/catabuzz/images/boxy-nw.png'); }
* html .boxy-wrapper .top-right { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '/catabuzz/images/boxy-ne.png'); }
* html .boxy-wrapper .bottom-right { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '/catabuzz/images/boxy-se.png'); }
* html .boxy-wrapper .bottom-left { background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '/catabuzz/images/boxy-sw.png'); }

.boxy-wrapper .top,
.boxy-wrapper .bottom { height: 10px; background-color: #EAF2DD; opacity: 0.6; filter: alpha(opacity = 60); padding: 0 }

.boxy-wrapper .left,
.boxy-wrapper .right { width: 10px; background-color: #EAF2DD; opacity: 0.6; filter: alpha(opacity = 60); padding: 0 }

/* Title bar */

/*.boxy-wrapper .title-bar { font-size: 12px; background-color: black; color: #333; line-height: 1; padding: 6px; position: relative }*/
.boxy-wrapper .title-bar { border: 1px solid #000; font-size: 14px; font-weight: bold; text-align: left; background-color: #9FCB4E; color: #333; position: relative; padding: 0.2em 0.5em;}


.boxy-wrapper .title-bar.dragging { cursor: move; }
.boxy-wrapper .title-bar .close { color: #333; position: absolute; top: 4px; right: 6px; font-size: 70% }
.boxy-wrapper .title-bar .close:hover { color: white; background: none;}

/* Content Region */

.boxy-inner { padding: 0; background-color: #fffeef; color: #333; }
.boxy-content { padding: 15px; border: 1px solid black; border-top-style: none;}

/* Question Boxes */

.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }
