body { background-color: #f4ffe0; color: #333;
	margin-left: 15px;
}

table {
	border-collapse: collapse;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.exampleheader {
	color: #333;
	font-size: 0.7em;	
}

.example {
	color: gray;
	font-size: 0.7em;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


input.text {
  border: 1px solid #000;
	padding-top: 2px;
	padding-bottom: 3px;
}

input.button {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	background-color: #9FCB4E;
	
	border: 1px solid #000;
	padding: 2px 6px 2px 5px;
}

.section_list_header th {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #ababab;
	
}
.section_list_header th.code {
	border-left: 1px solid #000;
}

.section_list_header th.location {
	border-right: 1px solid #000;
}


.section_list_header th {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	background-color: #9FCB4E;
	
	padding: 0.2em 0.5em;
}


.section_search_results td {
	border: 1px solid #ababab;
	padding: 0.2em 0.5em;
}

th.code {
	width:  7em;
}

th.name {
	width: 25em;
}

th.instructor {
    width: 10em;
}

th.section, th.days, th.starts, th.ends, th.enrollment {
	text-align: center;
}

/* Section */
.section_search_results td:first-child+td,
/* Days */
.section_search_results td:first-child+td+td+td,
/* Starts */
.section_search_results td:first-child+td+td+td+td,
/* Ends */
.section_search_results td:first-child+td+td+td+td+td,
/* Enrollment */
.section_search_results td:first-child+td+td+td+td+td+td
{
	text-align: center;
}

tr.d0
{
	background-color: #eaf2dd;
}

tr.d1
{
	background-color: #fff;
}

p.pages_list
{
	padding-top: 1px
}

.pagination a:hover
{
	color: #333;
	background-color: #9FCB4E;
}


.pagination a
{
	text-decoration: none;
	border: 1px solid #ababab;
	padding: 2px 6px 3px 6px;
	background-color: #eaf2dd;
	
}

.pagination span.current
{
	color: #333;
	font-weight: bold;
}

.pagination span.disabled
{
	color: #333;
	display: none;
}



