
%h3=dropdown_title
%h4=type_and_units_text

.description
  %p=@section.course.description

.requisites
  -if has_prerequisites
  %p=prerequisites_text
  -end
  
  -if has_corequisites
  %p=corequisites_text
  -end
  
  -if has_misc
  %p=misc_text
  -end
  
  %p=grading_text
  %p=section_code_text
  
.info
  -if has_repeatable
  %p=repeatable_text
  -end
  
  -if has_general_education
  %p=general_education_text
  -end
  
  -if has_california_articulation_number
  %p=california_articulation_number_text
  -end

-if has_footnotes
%br/
.footnotes
  %p=footnotes_text
-end