
%h3=dropdown_title
%h4=type_and_units_text

.description
  %p=@section.course.description

.requisites
  -if has_prerequisites
  %p=prerequisites_text
  -end
  
  -if has_corequisites
  %p=corequisites_text
  -end
  
  -if has_misc
  %p=misc_text
  -end
  
  %p Section code: 40033
  
.info
  %p General Education: D1
  %p Grading: Normal Grade Rules
  %p Repeatable: Repeatable for credit
  %p California Articulation Number: CAN ANTH 4

%br/
.footnotes
  %p Footnotes: Very special information from the catalog