%p Soon we'll render a nice course section:
= @course_section.id


Department:
	Code (ANTH)
	Name (Anthropology)
	
<h3>Anthropology (ANTH)<h3>

<h3>ANTH101 - Introduction to anthopology<h3>
<h2>LECTURE</h2>
<h2>4 units</h2>
</br>
<p>	Bunch of description for anthropology 101 course</p>
<p> A p for every line break</p>
</br>
<p> Corequisites: ANTH100, ANTH99 </p>
<p> Other info: fancy misc info </p>
<p> Footnotes: Very special information from the catalog </p>
<p> Section code: 40033 </p>


Course:
	Description
	Corequisites
	Misc
	Units
	
Course Sections:
	Section code (40033)
	Footnotes (god knows what)
	Type(LEC)
