
%h3 ANTH101 - Introduction to Anthopology
%h2 Lecture
%h2 4-6 units
%br/
%p Basic concepts, theories and methods used in the comparative study of socio-cultural systems. Includes cultural ecology and change; political, economic and kinship systems; language, art and religion; cultural perspectives on contemporary issues.
%br/
%p Prerequisites: ANTH100, ANTH99
%p Corequisites: ANTH100, ANTH99 
%p Other info: fancy misc info
%br/
%p Section code: 40033
%p Footnotes: Very special information from the catalog
%p General Education: D1
%p Grading: Normal Grade Rules
%p Repeatable: Repeatable for credit
%p California Articulation Number: CAN ANTH 4

