-form_tag('', :action => :create, :method => :post, :class => "feedback") do
%span.input_label Email: 
= text_field_tag 'email', '', :style => "width: 25em;", :class => "text"
%span.input_label (optional)
%br/
= text_area_tag 'comments', '', :style => "width: 28.5em;", :rows => 20, :class => "text"
%br/
= submit_tag 'Send Feedback', :name => nil, :class => "button"
-end