<h1>New course_lecture</h1>

<%= error_messages_for :course_lecture %>

<% form_for(@course_lecture) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', course_lectures_path %>
